.page-title{
    font-size: 35px;
    color: rgb(12, 12, 12) !important;
    font-weight: bold;
}

/* label{
    color: rgb(0, 0, 0) !important;
    font-weight: bold;
}

small{
    color: rgb(0, 0, 0) !important;
    font-weight: bold;
} */
